@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

.jersey-10-regular {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/*IMAGEN DE FONDO*/
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://s1.1zoom.me/big3/226/359710-blackangel.jpg") no-repeat center center fixed;
  background-size: cover;
  font-family: Arial, sans-serif;
}
/*IMAGEN DE FONDO*/

/* ===== BOTONES ===== */
/* Contenedor de los botones */
.botones-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* INICIAR SESIÓN */
.btn-2 {
  background-color: #ffffff;
  color: #000;
  padding: 1px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
  border: 2px solid #000;
}

.btn-2:hover {
  background-color: #1a1917;
  color: #fff;
}

/* REGISTRAR USUARIO */
.btn-3 {
  background-color: #ffffff;
  color: #000;
  padding: 1px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
  border: 2px solid #000;
}

.btn-3:hover {
  background-color: #1a1917;
  color: #fff;
}

/* CARRITO */
.cart-icon {
  background-color: #ffffff;
  color: #000;
  padding: 5px 12px;
  border-radius: 5px;
  border: 2px solid #000;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
  text-decoration: none;
  display: inline-block;
}

.cart-icon:hover {
  background-color: #1a1917;
  color: #fff;
}

/*FORMULARIO DE CONTACTO*/
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://s1.1zoom.me/big3/226/359710-blackangel.jpg") no-repeat center center fixed;
  background-size: cover;
  font-family: Arial, sans-serif;
}


/* Contenedor centrado con fondo solo detrás del formulario */
.contact-container {
  max-width: 400px;
  margin: 80px auto;
  /* lo centra en la página */
  background-color: rgba(3, 3, 3, 0.493);
  /* opacidad del 80% */
  padding: 40px;
  border-radius: 12px;
  text-align: center;
}

/* Encabezado con logo */
.contact-header img.logo {
  width: 80px;
  margin-bottom: 10px;
}

.contact-header h2 {
  margin-bottom: 20px;
  font-size: 22px;
  color: white;
}

/* Inputs */
.contact-form label {
  display: block;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
  color: white;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

/* Botón */
.btn-enviar {
  margin-top: 15px;
  background-color: #000000;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

.btn-enviar:hover {
  background-color: #000000;
}