@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

.jersey-10-regular {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/*IMAGEN DE FONDO*/
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://s1.1zoom.me/big3/226/359710-blackangel.jpg") no-repeat center center fixed;
  background-size: cover;
  font-family: Arial, sans-serif;
}

/*IMAGEN DE FONDO*/

/*BOTONES*/
/*INICIAR SESION*/
.btn-2 {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 1px 10px;
  border-radius: 5px;
  margin-right: 25px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
  border: 2px solid #000;
}

.btn-2:hover {
  background-color: #1a1917;
  color: #fff;
}

/*INICIAR SESION*/

/*REGISTRAR USUARIO*/
.btn-3 {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 1px 20px;
  border-radius: 5px;
  margin-right: 25px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
  border: 2px solid #000;
}

.btn-3:hover {
  background-color: #1a1917;
  color: #fff;
}

/*REGISTRAR USUARIO*/
/*BOTONES*/

/*INICIAR SESION*/
.inicio-container {
  max-width: 400px;
  margin: 80px auto;
  /* lo centra en la página */
  background-color: rgba(3, 3, 3, 0.493);
  /* opacidad del 80% */
  padding: 40px;
  border-radius: 12px;
  text-align: center;
  color: white;
}

.logo-container {
  text-align: center;
  margin-bottom: 20px;
}

.logo {
  width: 120px;
  /* ajusta el tamaño del logo */
  height: auto;
}

.company-name {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
  color: white;
  /* o el color corporativo */
}

h2 {
  text-align: center;
}

form {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

input {
  padding: 8px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px;
  background: #000000;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.error {
  color: red;
  font-size: 12px;
}

/*INICIAR SESION*/