@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

.jersey-10-regular {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/*IMAGEN DE FONDO*/
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://s1.1zoom.me/big3/226/359710-blackangel.jpg") no-repeat center center fixed;
  background-size: cover;
  font-family: Arial, sans-serif;
}

/*IMAGEN DE FONDO*/

/*NOTICIAS*/
.titulo-noticias {
  text-align: center;
  margin: 90px auto 30px;
  max-width: 900px;
  background: rgba(3, 3, 3, 0.493);
  padding: 20px;
  border-radius: 10px;
  font-size: 29px;
  font-weight: bold;
  color: white;
}

.noticia {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px auto;
  max-width: 900px;
  background: rgba(3, 3, 3, 0.493);
  padding: 20px;
  border-radius: 10px;
}

.noticia-texto {
  flex: 1;
  margin-right: 20px;
  color: white;
}

.noticia-texto h2 {
  margin-bottom: 10px;
}

.noticia-imagen img {
  width: 500px;
  height: auto;
  border-radius: 8px;
}

.btn-ver-nt1,
.btn-ver-nt2 {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  border: 1px solid #333;
  background: #000000;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

.btn-ver-nt1:hover,
.btn-ver-nt2:hover {
  background: #000000;
  color: #fff;
}

/*NOTICIAS*/